html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    font-family: calibri sans-serif;
    font-weight: 100;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}

.header {
    height: 800px;
    text-align: center;
    background: url(https://natanelmiller.github.io/Pano%201.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1 {
    margin: 0px;
    padding: 125px 0 0 0;
    font-size: 80px;
    color: #fff;
}

.header p {
    margin: -15px;
    color: #fff;
}

.resume .linebreak {
    margin: -10px auto;
    max-width: 940px;
    width: 100%;
    height: .1em;
    background-color: black;
}

.resume .col {
    display: inline-block;
    width: 33%;
    min-width: 250px;
}

.resume .colleft {

}

.resume .colcenter {
    text-align: center;
}

.resume .colright {
    text-align: right;
}

.resume a {
    text-decoration: none;
    color: black;
}

.resume a:hover{
    font-weight: bold; 
}

.divider {
    height: 600px;
    text-align: right;
    margin: 0;
    background: url(https://natanelmiller.github.io/Pano%202.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.linebreak {
    margin: -10px 0 0 0;
    max-width: 940px;
    width: 100%;
    height: .1em;
    background-color: black;
}

.references {
    margin: 0;
}

.references .col {
    float: left;
    width: 45%;
    min-width: 250px;
    margin: 10px 0 0 0;
}

.references h3, h4, h5 {
    margin: 0;
}

.references h5 {
    font-style: italic;
}

.references ul{
    margin-left: -10px;
}

.clearfix {
  clear: both;
  padding: 10px;
}

.footer {
    height: 100px;
    margin: 0;
    background-color: gray;
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    font-family: calibri sans-serif;
}

.footer h3{
    padding: 25px;
}
